<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application


        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Recipe Wizard"
        android:icon="@drawable/ic_chefhat"
        android:logo="@drawable/ic_chefhat"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31" >
        <activity android:name=".RecipesActivity"
            android:exported="true">
        </activity>
        <activity android:name=".RecipeDetailsActivity"
            android:exported="true">
        </activity>
        <activity android:name=".RecipeSuggestionsActivity"
            android:exported="true">
        </activity>
        <activity android:name=".FeaturedRecipeDetailsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true" >
        </activity>
           <activity android:name=".PantryActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>